.navmenuWrapper{
    background-color: white;
    position: relative;
    margin-left: 2rem;
    border-radius: 15px;
    padding-right: 2rem;
    width: 300px;
    height: 600px;

}
.logo{
    color: black;
    font-size: 16px;
    font-family: 'Space Mono';
   
    font-weight: bolder;
    padding: 0.5rem 1rem;
}
.fontClass{
    font-family: 'IBM Plex Mono';
}
.linkButton{
    background-color: blue;

}
.navmenuLogoWrapper{
    background-color: white;
   padding-left: 1rem;
   margin-bottom: 1.2rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
    border-radius: 15px;
    padding-right: 2rem;
    
}
.navLinkContainer{
    padding-top: 1rem;
}

@media screen and (max-width: 768px) {
    .navmenuWrapper{
        display: none;
    }
  
    .navmenuLogoWrapper{
        display: flex;
   
        margin-bottom: 0rem;
        margin-left: 0rem;
        margin-top: 0rem;

        border-radius: 0px;
        height: 5vh;

    }
}
    
