.navmenuWrapper{
    background-color: white;
    position: relative;
    margin-left: 2rem;
    border-radius: 15px;
    padding-right: 2rem;
    position:fixed;
    height: 600px;

}
.logo{
    color: black;
    font-size: 16px;
    font-family: 'Space Mono';
   
    font-weight: bolder;
    padding: 0.5rem 1rem;
}
.fontClass{
    font-family: 'IBM Plex Mono';
}
.linkButton{
    background-color: blue;

}
.navmenuLogoWrapper{
    background-color: white;
   padding-left: 1rem;
   margin-bottom: 1.2rem;
  
    margin-left: 2rem;
    border-radius: 15px;
    padding-right: 2rem;
    
}
.mediaQuery{
    width: 268px;
}
.navLinkContainer{
    padding-top: 1rem;
}
.mobileMenuWrapper{
    display: none;  
}
@media screen and (max-width: 768px) {
    .navmenuWrapper{
        display: none;
    }
    .logo{
       padding: 0rem;
    }
  
    .navmenuLogoWrapper{
        display: flex;
        
        justify-content: space-between;
        align-items: center;
   
        margin-bottom: 0rem;
        margin-left: 0rem;
        margin-top: 0rem;
        padding-right: 24px;
        padding-left: 24px;
        border-radius: 0px;
        height: 5vh;

    }
    .mobileMenuWrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        height: 95svh;  
        width: 100vw;
        z-index: 3;
        background-color: white;
    }
}
    
