.navmenuWrapper{
  
    border-radius: 15px;
    position: fixed;
  margin-top: 18px;
   



}

.logo{
    color: black;
    font-size: 16px;
    font-family: 'Space Mono';
   
    font-weight: bolder;
    padding: 0.5rem 1rem;
}
.fontClass{
    font-family: 'IBM Plex Mono';
}
.linkButton{
    background-color: blue;

}
.navmenuLogoWrapper{
   
   background-color: white;
   margin-top: 18px;
  display: flex ;
    justify-content: flex-start;
  
    border-radius: 15px;
   
    
}
.mediaQuery{
    width: 15%;
}
.logoBigScreen{
    font-family: 'IBM Plex Mono';
    font-size: 18px;
    margin-left: 18px;
    font-weight: bold;
}
.mobileMenuWrapper{
    display: none;  
}
@media screen and (max-width: 768px) {
    .navmenuWrapper{
        display: none;
    }
    .logo{
       padding: 0rem;
    }
    .mediaQuery{
        width: 100%;
    }
    
    .navmenuLogoWrapper{
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        
        margin-bottom: 0rem;
        margin-left: 0rem;
        margin-top: 0rem;
        padding-right: 24px;
        padding-left: 24px;
        border-radius: 0px;
        height: 5vh;

    }
    .mobileMenuWrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        height: 95svh;  
        width: 100vw;
        z-index: 3;
        background-color: white;
    }
}
    
