/* Your styles goes here. */
.formContainer{
    display: flex;
    column-gap: 1rem;
    justify-content: flex-start;
   
    width: 50%;
   
    
}
.formKeyword{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
   
}
.main_page_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
}