/* Your styles goes here. */
.formContainer{
    display: flex;
    column-gap: 1rem;
    justify-content: flex-start;
   
    width: 50%;
   
    
}
.formKeyword{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
   
}
.main_page_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
}
.mobileViewHomeWrapperButtons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
   
}
.modalForm{ 
    display: none;
  
}
.buttonFix{
    display: none;
}
.mobileButtonHiddenOnMediaSmall{
    display: none;
}
.mobileViewHomeWrapper{
    display: none;
}
.switchContainerMobile{
    display: none;
}
@media screen and (max-width: 600px) {
    .modalForm{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white ;
        height: 95svh;
        width: 100vw;
        top: 4%;
    }
    .buttonFix{
        display: block;
        border-radius: 5px;
        bottom: 1rem;
        height: 3rem;
        right: 1rem;
        left: 1rem;
        width: 360px;
        border: none;
        color: white;
        background-color: green;
        
    }
    .mobileTitleContainer{
        display: flex;
        padding: 1rem;
        
        justify-content: space-between;
       
    }
    .mobileViewHomeWrapper{
        display: inline;
    }
    .switchContainerMobile{
        display: flex;
        justify-content: space-between;
        align-items: center ;
        padding: 1rem;
    }
    .buttonFixBlue{
        display: block;
        border-radius: 5px;
        bottom: 1rem;
        height: 3rem;
        right: 1rem;
        left: 1rem;
        width: 360px;
        border: none;
        color: white;
        background-color: blue;
        
    }
}



