/* You can add global styles to this file, and also import other style files */

.container {
  width: 1980px;
  margin-inline: auto;
  background-color: lightslategray;
  text-align: center;
  padding: 2.5rem;
}
.row:hover .action-cell {
  visibility: visible;
}

.action-cell {
  margin-inline: auto;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-container{
  display: flex;
  justify-content: left;
  padding-top: 20px;
  padding-left: 20px;
}